{% load static %}
 <header id="header" class="header position-relative">
    <!-- Top Bar -->
    <div class="top-bar py-2">
      <div class="container-fluid container-xl">
        <div class="row align-items-center">
          <div class="col-lg-4 d-none d-lg-flex">
            <div class="top-bar-item">            
            </div>
          </div>

          <div class="col-lg-4 col-md-12 text-center">
            <div class="announcement-slider swiper init-swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": 1,
                  "direction": "vertical",
                  "effect": "slide"
                }
              </script>
              
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="d-flex justify-content-end">
              <div class="top-bar-item dropdown me-3">
                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                  <i class="bi bi-globe me-2"></i>
                </a>
                <ul class="dropdown-menu">              
                <li><a class="dropdown-item" href="#"><span class="fi fi-es"></span> </a></li>
                <li><a class="dropdown-item" href="#"><span class="fi fi-us"></span> </a></li>
                <li><a class="dropdown-item" href="#"><span class="fi fi-br"></span> </a></li>              
                </ul>
              </div>
              <div class="top-bar-item dropdown">
               
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#"><i class="bi bi-check2 me-2 selected-icon"></i>USD</a></li>
                  <li><a class="dropdown-item" href="#">EUR</a></li>
                  <li><a class="dropdown-item" href="#">GBP</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Header -->
    <div class="main-header">
      <div class="container-fluid container-xl">
        <div class="d-flex py-3 align-items-center justify-content-between">

          <!-- Logo -->
          <a href="/" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="{% static 'assets/img/favicon.png' %}" alt="Casa Amarela" class="img-fluid">
            <h1 class="sitename">Ateliê Casa Amarela</h1>
          </a>

          <!-- Search -->
          <form class="search-form desktop-search-form">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="">
              <button class="btn" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>

          <!-- Actions -->
          <div class="header-actions d-flex align-items-center justify-content-end">

            <!-- Mobile Search Toggle -->
            <button class="header-action-btn mobile-search-toggle d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#mobileSearch" aria-expanded="false" aria-controls="mobileSearch">
              <i class="bi bi-search"></i>
            </button>

            <!-- Account -->
            <div class="dropdown account-dropdown">
              <button class="header-action-btn" data-bs-toggle="dropdown">
               {% if user.is_authenticated and user.photo %}
                     <img src="{{ user.photo.url }}" alt="banner" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover;">
                {% else %}
                    <i class="bi bi-person-plus-fill "></i>
                {% endif %}               
              </button>
              <div class="dropdown-menu">
                <div class="dropdown-header">
                {% if user.is_authenticated %}
                  <h6>Olá, <span class="sitename">{{ user.first_name }} {{ user.last_name }}</span></h6>
                  <p class="mb-0">Seja bem-vindo(a) de volta!</p>
                {% else %}
                  <h6>Seja Bem-Vindo(a) <span class="sitename">Casa Amarela</span></h6>
                  <p class="mb-0">Acesse sua conta e gerencie suas compras</p>
                {% endif %}
                </div>
                <div class="dropdown-body">
                {% if user.is_authenticated %}
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'update_profile' user.slug user.pk %}">
                    <i class="bi bi-person-circle me-2"></i>
                    <span>My Profile</span>
                  </a>                  
                  <a class="dropdown-item d-flex align-items-center" href="">
                    <i class="bi bi-bag-check me-2"></i>
                    <span>My Orders</span>
                  </a>              
                  <a class="dropdown-item d-flex align-items-center" href="">
                    <i class="bi bi-gear me-2"></i>
                    <span>Settings</span>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'account_logout' %}">
                    <i class="bi bi-box-arrow-right me-2"></i>
                    <span>Logout</span>
                  </a>
                {% endif %}
                </div>
                {% if not user.is_authenticated %}
                <div class="dropdown-footer">
                  <a href="{% url 'account_login' %}" class="btn btn-primary w-100 mb-2">Sign In</a>
                  <a href="{% url 'account_signup' %}" class="btn btn-outline-primary w-100">Register</a>
                </div>
                {% endif %}
              </div>
            </div>

            <!-- Wishlist -->
            <a href="" class="header-action-btn d-none d-md-block">
              <i class="bi bi-bell"></i>
              <span class="badge">0</span>
            </a>

            <!-- Cart -->
            <a href="" class="header-action-btn">
              <i class="bi bi-cart3"></i>
              <span class="badge">3</span>
            </a>

            <!-- Mobile Navigation Toggle -->
            <i class="mobile-nav-toggle d-xl-none bi bi-list me-0"></i>

          </div>
        </div>
      </div>
    </div>

    <!-- Navigation -->
    <div class="header-nav">
      <div class="container-fluid container-xl">
        <div class="position-relative">
          <nav id="navmenu" class="navmenu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="">Sobre</a></li>
              <li class="dropdown"><a href="#"><span>Obras de Arte</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Arte em Tela</a></li>                  
                  <li><a href="#">Arte Digital</a></li>
                  <li><a href="#">Estilos</a></li>
                </ul>
              </li>             
              <li class="dropdown"><a href="#"><span>Souvenirs</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Canecas</a></li>                  
                  <li><a href="#">MousePads</a></li>
                  <li><a href="#">Ímâs de Geradeira</a></li>
                  <li><a href="#">Camisetas</a></li>
                </ul>
              </li>   
              <li><a href="">Artistas</a></li>
              <li><a href="">Carrinho</a></li>
              <li><a href="">Blog</a></li>       
              <li><a href="#contato">Contato</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <!-- Mobile Search Form -->
    <div class="collapse" id="mobileSearch">
      <div class="container">
        <form class="search-form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for products">
            <button class="btn" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

  </header>